<div id="<%= dom_id employee %>">
  <p>
    <strong>Cpf:</strong>
    <%= employee.cpf %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong>Sector:</strong>
    <%= employee.sector_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= employee.user_id %>
  </p>

</div>
