<div class="container d-flex justify-content-center mt-5">
  <div class="card p-4 shadow" style="max-width: 600px; width: 100%;">
    <div class="card-body">
      <h5 class="card-title text-center mb-4">Detalhes do Funcionário</h5>

      <div id="<%= dom_id employee %>">
        <p><strong>CPF:</strong> <%= employee.cpf %></p>
        <p><strong>Nome:</strong> <%= employee.name %></p>
        <p><strong>Unidade:</strong> <%= employee.sector.unit.name %></p>
        <p><strong>Setor:</strong> <%= employee.sector.name %></p>
        <p><strong>Usuário:</strong> <%= employee.user&.email || "Usuário não cadastrado" %></p>
        <p><strong>Ativo:</strong> <i class="fa <%= employee.active? ? 'fa-check-circle text-success' : 'fa-times-circle text-danger' %>" style="transform: translateX(0.6rem)"></i></p>
      </div>
    </div>
  </div>
</div>
