<div id="<%= dom_id employee %>">
  <p>
    <strong>CPF:</strong>
    <%= employee.cpf %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong>Unidade:</strong>
    <%= employee.sector.unit.name %>
  </p>

  <p>
    <strong>Setor:</strong>
    <%= employee.sector.name %>
  </p>

  <p>
    <strong>Usuário:</strong>
    <%= employee.user&.email || "Usuário não cadastrado" %>
  </p>

</div>
