<p style="color: green"><%= notice %></p>

<%= render @visitor %>
<p>
  <strong>Foto:</strong>
  <%= image_tag @visitor.photo.url if @visitor.photo.present? %>
</p>

<div>
  <%= link_to "Edit this visitor", edit_visitor_path(@visitor) %> |
  <%= link_to "Back to visitors", visitors_path %>

  <%= button_to "Destroy this visitor", @visitor, method: :delete %>
</div>
