<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= form_with(model: visit, class: "needs-validation", novalidate: true) do |form| %>
        <% if visit.errors.any? %>
          <div class="alert alert-danger">
            <h4 class="alert-heading"><%= pluralize(visit.errors.count, "erro") %> impediram esta visita de ser salva:</h4>
            <ul>
              <% visit.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= form.hidden_field :confirmed_time %>
        <%= form.hidden_field :unit_id, value: current_user.unit_id %>

        <div class="mb-3">
          <%= form.label :sector_id, class: "form-label" %>
          <%= form.collection_select :sector_id, @active_sectors || [], :id, :name, { prompt: "Selecione um setor" }, { class: "form-select", id: 'sector_id', onchange: "fetchEmployees(this.value)" } %>
        </div>

        <div class="mb-3">
          <%= form.label :employee_id, class: "form-label" %>
          <%= form.collection_select :employee_id, @active_employees || [], :id, :name, { prompt: "Selecione um funcionário" }, { class: "form-select", id: 'employee_id' } %>
        </div>

        <div class="d-grid">
          <%= form.submit "Salvar", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<script>
  console.log("ta aparecendo")
  function fetchEmployees(sectorId) {
  const employeeSelect = document.getElementById('employee_id');

  if (sectorId) {
    // Faz uma requisição AJAX para buscar os funcionários do setor selecionado
    fetch(`/employees?sector_id=${sectorId}`)
      .then(response => response.json())
      .then(data => {
        // Limpa as opções atuais do campo de funcionário
        employeeSelect.innerHTML = '<option value="">Selecione um funcionário</option>';

        // Adiciona as novas opções ao campo de funcionário
        data.forEach(employee => {
          const option = document.createElement('option');
          option.value = employee.id;
          option.text = employee.name;
          employeeSelect.appendChild(option);
        });
      });
  } else {
    // Se nenhum setor for selecionado, limpa o campo de funcionário
    employeeSelect.innerHTML = '<option value="">Selecione um funcionário</option>';
  }
}
</script>
