<div id="<%= dom_id visit %>" class="card shadow-sm mb-3 mx-auto" style="max-width: 600px;">
  <div class="card-body">
    <h5 class="card-title text-center">Detalhes da Visita</h5>
    <hr>
    <p><strong>Visitante:</strong> <%= visit.visitor.name %></p>
    <p><strong>Unidade:</strong> <%= visit.unit.name %></p>
    <p><strong>Setor:</strong> <%= visit.sector.name %></p>
    <p><strong>Funcionário:</strong> <%= visit.employee.name %></p>
    <p><strong>Data e Hora da visita:</strong> <%= visit.created_at.strftime("%d/%m/%Y %H:%M") %></p>
    <p><strong>Data e Hora da confirmação:</strong> <%= visit.confirmed_time.present? ? visit.confirmed_time.strftime("%d/%m/%Y %H:%M") : "Em espera" %></p>
  </div>
</div>

