<div id="<%= dom_id visit %>">
  <p>
    <strong>Confirmed time:</strong>
    <%= visit.confirmed_time %>
  </p>

  <p>
    <strong>Visitor:</strong>
    <%= visit.visitor_id %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= visit.unit_id %>
  </p>

  <p>
    <strong>Sector:</strong>
    <%= visit.sector_id %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= visit.employee_id %>
  </p>

</div>
