<p style="color: green"><%= notice %></p>

<% content_for :title, "Visits" %>

<h1>Visits</h1>

<div id="visits">
  <% @visits.each do |visit| %>
    <%if can?(:read, visit)%>
      <%= render visit %>
      <% if can?(:confirm, visit) %>
        <%= button_to "Confirmar", confirm_visit_path(visit), method: :post, class: "btn btn-success" %>
      <% end %>
      <p>
        <%= link_to "Show this visit", visit %>
      </p>
    <% end %>
  <% end %>
</div>

<%= link_to "New visit", new_visit_path %>
