<% content_for :title, "Visitas" %>

<div class="d-flex my-3 justify-content-between align-items-center">
  <h1 class="mb-0">Visitas</h1>
  <% if can?(:create, Visit) %>
    <%= link_to "Adicionar visitas", new_visit_path, class: "btn btn-dark fw-semibold d-flex" %>
  <% end %>
</div>

<div class="border border-light-subtle p-3 rounded-4">
    <table class="table table-striped table-hover mb-0">
      <thead class="align-middle text-center">
        <tr>
          <th>ID</th>
          <th>Visitante</th>
          <th>Unidade</th>
          <th>Setor</th>
          <th>Funcionário</th>
          <th>Data da Visita</th>
          <th>Data de Confirmação</th>
          <th>Ação</th>
        </tr>
      </thead>

      <tbody class="align-middle text-center">
        <% @visits.each do |visit| %>
          <% if can?(:read, visit) %>
            <tr>
              <td><%= visit.id %></td>
              <td><%= visit.visitor.name %></td>
              <td><%= visit.unit.name %></td>
              <td><%= visit.sector.name %></td>
              <td><%= visit.employee.name %></td>
              <td><%= visit.created_at.strftime("%d/%m/%Y %H:%M") %></td>
              <td>
                <% if visit.confirmed_time.present? %>
                  <%= visit.confirmed_time.strftime("%d/%m/%Y %H:%M") %>
                <% else %>
                  <span class="badge bg-warning text-dark p-2">Em espera</span>
                <% end %>
              </td>
              <td class="d-flex justify-content-center align-items-center gap-2">
                <%= link_to visit, class: "btn btn-sm btn-light border", role: "button" do %>
                  <i class="fa fa-eye"></i>
                <% end %>
                <% if can?(:edit, visit) %>
                  <%= link_to edit_visit_path(visit), class: "btn btn-sm btn-dark border", role: "button" do %>
                    <i class="fa fa-edit"></i>
                  <% end %>
                <% end %>
                <% if can?(:destroy, visit) %>
                  <%= button_to visit_path(visit), method: :delete, data: { confirm: "Tem certeza que deseja excluir esta visita?" }, class: "btn btn-sm btn-danger border delete-button" do %>
                    <i class="fa fa-trash"></i>
                  <% end %>
                <% end %>
                <% if can?(:confirm, visit) %>
                  <%= button_to confirm_visit_path(visit), method: :post, class: "btn btn-sm btn-success border", role: "button" do %>
                    <i class="fa fa-check"></i>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
</div>
