<% content_for :title, "New visit" %>

<h1>New visit</h1>

<%= render "search" %>

<% if @visitor.persisted? %>
  <%= render "visitors/visitor_details" %>
  <%= render "form", visit: @visit %>
<% elsif params[:cpf].present? %>
  <p>Visitante não encontrado.</p>
  <%= render "form", visit: @visit %>
<% end %>



<br>

<div>
  <%= link_to "Back to visits", visits_path %>
</div>
