<% content_for :title, "New visit" %>

<h1>New visit</h1>

<%= render "search" %>

<% if @visit.errors.any? || @visitor.errors.any? %>
  <!-- Se houver erros, mostra o formulário com os erros -->
  <%= render "form", visit: @visit %>
<% else %>
  <% if @visitor.persisted? %>
    <% if @visitor.active == false %>
      <p>Este visitante está inativo. Por favor, ative-o antes de cadastrar uma visita.</p>
      <%= link_to "Editar visitante", edit_visitor_path(@visitor)%>
    <% else %>
      <%= render "visitors/visitor_details" %>
      <%= render "form", visit: @visit %>
    <% end %>
  <% elsif params[:cpf].present? %>
    <p>Visitante não encontrado.</p>
    <%= render "form", visit: @visit %>
  <% end %>
<% end %>

<br>

<div>
  <%= link_to "Back to visits", visits_path %>
</div>
