<% content_for :title, "Registrar visita" %>

<div class="container mt-4">
  <div class="d-flex my-3 justify-content-between align-items-center">
    <h1 class="mb-0">Registrar visita</h1>
    <%= link_to "Voltar para visitas", visits_path, class: "btn btn-dark fw-semibold d-flex" %>
  </div>

  <div class="card-body">
    <%= render "search" %>
  </div>


  <% if @visit.errors.any? || @visitor.errors.any? %>
    <!-- Exibindo o formulário com erros, dentro de um card -->
    <div class="card">
      <div class="card-body">
        <%= render "form", visit: @visit %>
      </div>
    </div>
  <% else %>
    <% if @visitor.persisted? %>
      <% if @visitor.active == false %>
        <div class="alert alert-warning mx-auto" role="alert" style="max-width: 600px; text-align: center;">
          Este visitante está inativo. Por favor, ative-o antes de cadastrar uma visita.
        </div>
        <%= link_to "Editar visitante", edit_visitor_path(@visitor), class: "btn btn-secondary" %>
      <% else %>
          <div class="card-body">
            <%= render "visitors/visitor_details" %>
          </div>
        <!-- Exibindo o formulário com sucesso -->
        
          <div class="card-body">
            <%= render "form", visit: @visit %>
          </div>
      <% end %>
    <% elsif params[:cpf].present? %>
      <div class="alert alert-danger mx-auto" role="alert" style="max-width: 600px; text-align: center;">
        Visitante não encontrado.
      </div>
        <div class="card-body">
          <%= render "form", visit: @visit %>
        </div>
    <% end %>
  <% end %>
</div>
