<div class="container d-flex justify-content-center mt-5">
  <div class="card p-4" style="max-width: 600px; width: 100%; position: relative;">
    <div class="card-body">
      <%= render @visit %>

      <div class="mt-4 d-flex justify-content-center gap-2">
        <% if can?(:edit, @visit) %>
          <%= link_to "Editar", edit_visit_path(@visit), class: "btn btn-primary" %>
        <% end %>
        <% if can?(:destroy, @visit) %>
          <%= button_to "Excluir", @visit, method: :delete, class: "btn btn-danger", data: { confirm: "Tem certeza que deseja excluir esta visita?" } %>
        <% end %>
        <% if can?(:confirm, @visit) %>
          <%= button_to "Confirmar", confirm_visit_path(@visit), method: :post, class: "btn btn-success" %>
        <% end %>
      </div>

      <div class="mt-4 text-center">
        <%= link_to "Voltar para visitas", visits_path, class: "btn btn-secondary" %>
      </div>

      
    </div>
  </div>
</div>
