<% content_for :title, "Sectors" %>

<h1>Sectors</h1>
<%= link_to "New sector", new_sector_path %>

<div id="sectors">
  <% @sectors.each do |sector| %>
    <%= render sector %>
    <%= sector.name %>
    <%= sector.unit.name %>

    <p>
      <%= link_to "Show this sector", sector %>
    </p>
  <% end %>
</div>

